<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LoginTestSuite">
    <test name="LoginGroupTest">
        <groups>
            <run>
                <include name="login"/>
            </run>
        </groups>
        <classes>
            <class name="com.binh.util.service.AuthenticationServiceDDTTest"/>
            <class name="com.binh.util.service.AuthenticationServiceTDDTest"/>
        </classes>
    </test>
    <test name="LoginTDDTest">
        <classes>
            <class name="com.binh.util.service.AuthenticationServiceTDDTest"/>
        </classes>
    </test>

        <test name="LoginDDTTest">
            <classes>
                <class name="com.binh.util.service.AuthenticationServiceDDTTest"/>
            </classes>
        </test>
</suite>


